@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Jacquard+24&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Extend'; /*a name to be used later*/
    src: url('stretch_pro (1)\\StretchPro.otf'); /*URL to font*/
}

.botonAmarillo {
    width: 171px;
    height: 47px;
    gap: 6px;
    border-radius: 57px;
    border: 2px solid #000;
    background: #FCC400;
/* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
    color: #000;
/* Public/p Semibold */
font-family: "Public Sans";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.botonBlanco {
    width: 171px;
    height: 47px;
    gap: 6px;
    border-radius: 57px;
    border: 2px solid #000;
/* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
    color: #000;
/* Public/p Semibold */
font-family: "Public Sans";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
color: #000;
text-align: center;
/* Public/p Semibold */
font-family: "Public Sans";
font-size: 16px;
text-decoration: none;
font-weight: 600;
line-height: normal;
}

body {
    background-color: #E3EBFF;
}

.contenedor{
    margin: auto;
    width: 95%;
    max-width: 1920px;
}

header .contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #BFCEFF;
    display: flex;
    height: 20vh;
}

nav a {
    display: inline-block;
padding: 10px;
border-radius: 67.568px;
border: 2.333px solid #000;
background: #FFF;
box-shadow: 2.333px 2.333px 0 0 #000;
margin-left: 0.5em;
}

#contenedorImagenPortada {
    height: 60vh;
    width: 100%;
    padding: 2em 0em;
}

.imagenPortada{
    width: 100%;
    height: 100%;
/*     background-image: url(img/portadafoto.jpg);
    background-size: cover; */
    background-color: blanchedalmond;
    border-radius: 20px;
    align-content: flex-end;
}

h1{
    color: #FF006E;
text-shadow: 5px 4px 0 #000;
/* Sretch/h1 */
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #000;
font-family: "Stretch Pro";
font-style: normal;
font-size: 48px;
font-weight: 400;
line-height: 58px; /* 120.833% */
}

h2{
    color: #8338EC;
/* Sombra */
text-shadow: 5px 4px 0 #000;
/* Sretch/h2 */
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #000;
font-family: "Stretch Pro";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 58px; 
}

#tituloPortada {
    position: relative;
    font-family: "Extend";
    
}

.evento {
padding: 10px;
width: 20vw;
height: 60vh;
border-radius: 23.889px;
border: 1.405px solid #000;
background: #F0F0F0;
display: flex;
flex-direction: column;

justify-content: space-around;
}

.imagenEventoMain {
height: 40%;
border-radius: 23.889px;
border: 1.405px solid #000;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.evento h4 {
    color: #000;

/* Sretch/p */
font-family: "Stretch Pro";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
}
.evento h5 {
color: #464646;
font-family: "Stretch Pro";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.evento p {
    color: #000;
font-family: "Public Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
}


#eventosYBoton {
    justify-content: space-around;
    display: flex;
    color: #000;
font-family: "Public Sans";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 34px; /* 188.889% */
}

.botonMeInteresa {
    color: #000;
text-align: center;
font-family: "Public Sans";
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
padding: 0 15px;
justify-content: center;
align-items: center;
gap: 4.26px;
border-radius: 37.066px;
border: 1.28px solid #000;
background: #FFD23F;
box-shadow: 1.28px 1.28px 0 0 #000;
}

#listaExplorarMain {
display: flex;
width: 20vw;
flex-direction: column;
align-items: flex-end;
gap: 7px;
flex-shrink: 0;
border-radius: var(--Border-radius, 5px);
border: 2px solid var(--Border, #000);
background: #FFF;

/* Sombra boton */
box-shadow: 2px 2px 0 0 #000;
}

.opcionesMenu {
    border: 1px solid #000;
}

#listaExplorarMain div {
display: flex;
padding: 8px;
align-items: center;
gap: 8px;
align-self: stretch;
}

#contenedorEventosMain {
    width: 75vw;
}

#contenedorEventosYSelectMain {
    display: flex;
}

footer {
display: flex;
width: 100%;
height: 197px;
padding: 40px 49px;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
gap: 10px;
flex-shrink: 0;
border: 2px solid #000;
background: #BFCEFF;
}