h1{
    text-align: center;
    margin-bottom: 0.5em;
}

header{
    margin-bottom: 2em;
}

#contenedorPerfil, #contenedorEventosPerfil {
    margin: auto;
    padding: 26px 34px;
    width: 60vw;
    justify-content: space-between;
    border-radius: 35px;
    border: 3px solid #000;
    background: #FFF;
    box-shadow: 5px 4px 0 0 #000;
    gap: 20px;
}

#imagenPerfil{
    width: 15em;
    height: 15em;
    background-size: cover;
    border-radius: 23px;
    border: 3px solid #000;
    box-shadow: 5px 4px 0 0 #000;
    gap: 20px;
}

#imagenYDatosPerfil{
    display: flex;
    gap: 3em;
}

#nombreYDatosPerfil{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#imagenDatosYBoton{
    display: flex;
    justify-content: space-between;
}

.inputPerfil, #inpImagenPerfil{
    padding: 8px 15px;
    gap: 6px;
    border-radius: 25px;
    border: 2px solid  #000;
    background: #FFF;
    /* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
}

#h3YCrearEvento{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contenedorEventosPerfil{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.botonBlancoIcono{
    height: max-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    gap: 6px;
    border-radius: 57px;
    border: 2px solid #000;
    /* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
    color: #000;
    /* Public/p Semibold */
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.3s;
}

footer{
    margin-top: 4em;
}


