#contenedorInfo {
display: flex;
flex-direction: column;
align-items: center;
margin: auto;
gap: 28px;
padding: 5vh 5vw;
}

#inforEventoEspecifico {
display: flex;
width: 60%;
align-items: flex-start;
gap: 23.13px;
}

#inforEventoEspecifico img {
width: 100%;
height: 40vh;
object-fit: cover;
border-radius: 9px;
border: 2px solid #000;
box-shadow: 5px 4px 0 0 #000;
}

#contenedorTextoEventoEsp {
    display: flex;
    width: 100%;
padding: 27px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex: 1 0 0;

    border-radius: 9px;
border: 3px solid #000;
background: #FFF;

/* Sombra */
box-shadow: 5px 4px 0 0 #000;
}

#precioBoton {
    display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}

#detallesEvEsp {
display: flex;
align-items: center;
width: 100%;
flex-direction: column;
gap: 23.13px;
}

#detallesEvEsp> div{
display: flex;
width: 80%;
gap: 23.13px;
}

#descripcionEvEsp {
    padding: 5vh 5vh 5vh 0vh;
    font-weight: bold;
}

#detallesProfEvEsp {
    display: flex;
padding: 27px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
flex: 1 0 0;

border-radius: 9px;
border: 2px solid var(--Border, #000);
background: #FFF;

/* Sombra */
box-shadow: 5px 4px 0 0 #000;
}

#entradasEvEsp {
display: flex;
width: 30%;
padding: 27px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
border-radius: 9px;
border: 2px solid var(--Border, #000);
background: #FFF;

/* Sombra */
box-shadow: 5px 4px 0 0 #000;
}

#galeriaEvEsp {
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 31px;
align-self: stretch;
}

#contenedorImagenesEvEsp{
    display: flex;
align-items: center;
gap: 23.134px;
align-self: stretch;
}

#contenedorImagenesEvEsp img {
width: 20vw;
height: 20vw;
border-radius: 7.711px;
border: 1.714px solid #000;
background: #FFF;
box-shadow: 4.284px 3.427px 0 0 #000;
}