@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Jacquard+24&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Extend';
    /*a name to be used later*/
    src: url('stretch_pro (1)\\StretchPro.otf');
    /*URL to font*/
}

p, label {
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.botonAmarillo {
    display: inline-flex;
    padding: 0.5em 1em;
    gap: 6px;
    border-radius: 57px;
    border: 2px solid #000;
    background-color: #FFD23F;
    /* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
    color: #000;
    /* Public/p Semibold */
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.botonAmarillo a {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.botonAmarilloTiny {
    display: inline-flex;
    padding: 0.5em 1em;
    gap: 6px;
    border-radius: 57px;
    border: 2px solid #000;
    background-color: #FFD23F;
    /* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
    color: #000;
    /* Public/p Semibold */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.botonBlanco {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    gap: 6px;
    border-radius: 57px;
    border: 2px solid #000;
    /* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
    color: #000;
    /* Public/p Semibold */
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.3s;
}

.botonBlancoTiny {
    display: inline-flex;
    padding: 0.5em 1em;
    gap: 6px;
    border-radius: 57px;
    border: 2px solid #000;
    /* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
    color: #000;
    /* Public/p Semibold */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a, nav button {
    color: #000;
    text-align: center;
    /* Public/p Semibold */
    font-family: "Public Sans";
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    line-height: normal;
}

#nombreUsuarioHeader{
    margin-left: 1em;
}

body {
    background-color: #E3EBFF;
}

.contenedor {
    margin: auto;
    width: 95%;
    max-width: 1920px;
}

header .contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #BFCEFF;
    display: flex;
    height: 20vh;
}

nav{
    display: flex;
    align-items: center;
}

nav a, nav button {
    display: inline-block;
    padding: 10px;
    border-radius: 67.568px;
    border: 2.333px solid #000;
    background: #FFF;
    box-shadow: 2.333px 2.333px 0 0 #000;
    margin-left: 0.5em;
    font-size: 18px;
    padding: 1em;
}

#contenedorImagenPortada {
    height: 60vh;
    width: 100%;
    padding: 2em 0em;
}

.imagenPortada {
    width: 100%;
    height: 100%;
    background-image: url(img/portadafoto.png);
    background-size: cover; 
    background-color: blanchedalmond;
    border-radius: 20px;
    align-content: flex-end;

}

#eventosYCrearEvento {
    display: flex;
    justify-content: space-between;
        margin-bottom: 1em;
}

button:hover {
    cursor: pointer;
}

h1 {
    color: #FF006E;
    text-shadow: 5px 4px 0 #000;
    /* Sretch/h1 */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-family: "Extend";
    font-style: normal;
    font-size: 48px;
    font-weight: 400;
    line-height: 53px;
    /* 120.833% */
}

h2 {
    color: #8338EC;
    /* Sombra */
    text-shadow: 5px 4px 0 #000;
    /* Sretch/h2 */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-family: "Extend";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
}

h3{
    color: #000;
    font-family: "Extend";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

#tituloPortada {
    position: relative;
    font-family: "Extend";

}

#filtrosMain {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

#ExpPopSig{
    display: flex;
}



#botonPrecioMain{
        border-radius:  57px;
}

#inpBuscarMainYIcono {
    display: flex;
    padding: 8px 15px;
    align-items: center;
    border-radius: 25px;
    border: 2px solid  #000;
    background: #FFF;
    /* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
}

.input {
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    border: none;
}

#seccionIniciarSesion {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,0.25);

    display: flex;
    justify-content: center;
    align-items: center;
}

#modalIniciarSesion {
    width: fit-content;
    padding: 2em;
    gap: 1em;
    border-radius: 25px;
    border: 2px solid #000;
    background-color: white;
    position: relative; /* ya no absolute */
}

#modalIniciarSesion h1{
    text-align: center;
}

#modalIniciarSesion .input{
    padding: 8px 15px;
    gap: 6px;
    border-radius: 25px;
    border: 2px solid  #000;
    background: #FFF;
    /* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
}



#infoModalIniciarSesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.labelYInput{
    display: flex;
    flex-direction: column;
}

#botonBuscarMain {
    border: none;
    background-color: white;
}

.opcionesMenu {
    font-family: "Public Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 34px;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

.evento {
    padding: 11px;
    width: 20%;
    min-width: 240px;
    height: 45vh;
    border-radius: 23.889px;
    border: 2px solid #000;
    background: #F0F0F0;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
}

.evento img {
    object-fit: cover;
}

#tiposDeEventosDropDown {
    display: flex;
    flex-direction: column;
}

.botonBlanco:hover, .botonBlancoIcono:hover, .botonBlancoTiny:hover{
    background-color: #fff2c7;
}

.imagenEventoMain {
    height: 55%;
    border-radius: 24px;
    border: 2px solid #000;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.ubicacionEvento{
    display: flex;
}

.ubicacionEvento p{
    font-size: 16px;
        color: #000;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
}

.tagsEvento{
    display: flex;
    gap: 0.5em;
        font-size: 14px;
    color: #000;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
}

h4 {
    color: #000;

    /* Sretch/p */
    font-family: "Extend";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
}

h5 {
    color: #464646;
    font-family: "Extend";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}


#eventosYBoton {
    justify-content: space-around;
    display: flex;
    color: #000;
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
}

#eventosYBoton p {
    font-size: 18px;
    font-weight: 600;
}



#listaExplorarMain {
    display: flex;
    width: 20vw;
    flex-direction: column;
    align-items: flex-end;
    gap: 7px;
    flex-shrink: 0;
    border-radius: var(--Border-radius, 5px);
    border: 2px solid var(--Border, #000);
    background: #FFF;

    /* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
}

#listaExplorarMain div {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

#contenedorEventosMain {
    display: flex;
    flex-wrap: wrap;
    width: 75vw;
    gap: 1em;
}

#contenedorEventosYFiltroMain {
    display: flex;
}

footer {
    display: flex;
    width: 100%;
    height: 197px;
    padding: 40px 49px;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    flex-shrink: 0;
    background: #BFCEFF;
}

#logoFooter {
    height: 50px;
}

#linksFooter {
    display: flex;
    flex-direction: column;
}

#redesFooter {
    display: flex;
    flex-direction: column;
}

footer a {
    display: flex;
    align-items: center;
    font-weight: 400;
    text-align: left;
    margin-top: 0.5em;
    gap: 6px;
}

footer a:hover {
    text-decoration: underline;
}