@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Jacquard+24&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Extend'; /*a name to be used later*/
    src: url('stretch_pro (1)\\StretchPro.otf'); /*URL to font*/
}

.botonAmarillo {
    width: 171px;
    height: 47px;
    gap: 6px;
    border-radius: 57px;
    border: 2px solid #000;
    background: #FCC400;
/* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
    color: #000;
/* Public/p Semibold */
font-family: "Public Sans";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.botonBlanco {
    width: 171px;
    height: 47px;
    gap: 6px;
    border-radius: 57px;
    border: 2px solid #000;
/* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
    color: #000;
/* Public/p Semibold */
font-family: "Public Sans";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
color: #000;
text-align: center;
/* Public/p Semibold */
font-family: "Public Sans";
font-size: 16px;
text-decoration: none;
font-weight: 600;
line-height: normal;
}

body {
    background-color: #E3EBFF;
}

.contenedor{
    margin: auto;
    width: 95%;
    max-width: 1920px;
}

header .contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #BFCEFF;
    display: flex;
    height: 20vh;
}

nav a {
    display: inline-block;
padding: 10px;
border-radius: 67.568px;
border: 2.333px solid #000;
background: #FFF;
box-shadow: 2.333px 2.333px 0 0 #000;
margin-left: 0.5em;
}

#contenedorImagenPortada {
    height: 60vh;
    width: 100%;
    padding: 2em;
}

.imagenPortada{
    width: 100%;
    height: 100%;
/*     background-image: url(img/portadafoto.jpg);
    background-size: cover; */
    background-color: blanchedalmond;
    border-radius: 20px;
    align-content: flex-end;
}

h1{
    color: #FF006E;
text-shadow: 5px 4px 0 #000;
/* Sretch/h1 */
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #000;
font-family: "Stretch Pro";
font-style: normal;
font-size: 48px;
font-weight: 400;
line-height: 58px; /* 120.833% */
}

h2{
    color: #8338EC;
/* Sombra */
text-shadow: 5px 4px 0 #000;
/* Sretch/h2 */
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #000;
font-family: "Stretch Pro";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 58px; 
}

#tituloPortada {
    position: relative;
    font-family: "Extend";
    
}