@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Jacquard+24&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'Extend';
    /*a name to be used later*/
    src: url('stretch_pro (1)\\StretchPro.otf');
    /*URL to font*/
}

.flex{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

p, label {
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.botonAmarillo {
    display: inline-flex;
    padding: 0.5em 1em;
    gap: 6px;
    border-radius: 57px;
    border: 2px solid #000;
    background-color: #FFD23F;
    /* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
    color: #000;
    /* Public/p Semibold */
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.botonAmarillo a {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.botonAmarilloTiny {
    display: inline-flex;
    padding: 0.5em 1em;
    gap: 6px;
    border-radius: 57px;
    border: 2px solid #000;
    background-color: #FFD23F;
    /* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
    color: #000;
    /* Public/p Semibold */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.botonBlanco {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    gap: 6px;
    border-radius: 57px;
    border: 2px solid #000;
    /* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
    color: #000;
    /* Public/p Semibold */
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.3s;
}

.botonRojoIcono {
    height: max-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    gap: 6px;
    border-radius: 57px;
    border: 2px solid #000;
    /* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
    color: #000;
    /* Public/p Semibold */
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.3s;
    background-color: rgb(255, 107, 107);
}

.botonBlancoTiny {
    display: inline-flex;
    padding: 0.5em 1em;
    gap: 6px;
    border-radius: 57px;
    border: 2px solid #000;
    /* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
    color: #000;
    /* Public/p Semibold */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

body {
    background-color: #E3EBFF;
}

.contenedor {
    margin: auto;
    max-width: 90%;
}
header .contenedor{
    width: 100%;
     display: flex;
    justify-content: space-between;
    gap: 0.8em;
}

header {
    background-color: #BFCEFF;
    height: fit-content;
    display: flex;
    padding: 2em;
}

nav{
    display: flex;
    align-items: center;
    gap: 1em;
}

nav a, nav button {
    display: inline-block;
    padding: 1em;
}

header .botonBlanco{
    font-size: 18px;
    background-color: white;
    min-width: fit-content;
}

#contenedorImagenPortada {
    height: 60vh;
    width: 100%;
    padding: 2em 0em;
}

.imagenPortada {
    width: 100%;
    height: 100%;
    background-image: url(img/portada.jpg);
    background-size: cover; 
    background-color: blanchedalmond;
    border-radius: 20px;
    align-content: flex-end;
    padding: 2em;
}

#eventosYCrearEvento {
    display: flex;
    justify-content: space-between;
        margin-bottom: 1em;
}

button:hover {
    cursor: pointer;
}

h1 {
    color: #FF006E;
    text-shadow: 5px 4px 0 #000;
    /* Sretch/h1 */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-family: "Extend";
    font-style: normal;
    font-size: 48px;
    font-weight: 400;
    line-height: 53px;
    /* 120.833% */
}

h2 {
    color: #8338EC;
    /* Sombra */
    text-shadow: 5px 4px 0 #000;
    /* Sretch/h2 */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-family: "Extend";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
}

h3{
    color: #000;
    font-family: "Extend";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

a{
    color: black;
}

#tituloPortada {
    position: relative;
    font-family: "Extend";

}

#filtrosMain {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

#PrecioYFechas{
    display: flex;
    gap: 1em;
}

#botonPrecioMain{
        border-radius:  57px;
}

#inpBuscarMainYIcono {
    display: flex;
    padding: 8px 15px;
    align-items: center;
    border-radius: 25px;
    border: 2px solid  #000;
    background: #FFF;
    /* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
}

.input {
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    border: none;
}

#seccionIniciarSesion {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    background-color: rgba(0,0,0,0.25);

    display: flex;
    justify-content: center;
    align-items: center;
}

#modalIniciarSesion {
    width: fit-content;
    padding: 2em;
    border-radius: 25px;
    border: 2px solid #000;
    background-color: white;
}

#modalIniciarSesion h1{
    text-align: center;
}

#modalIniciarSesion .input{
    padding: 8px 15px;
    gap: 6px;
    border-radius: 25px;
    border: 2px solid  #000;
    background: #FFF;
    /* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
}



#infoModalIniciarSesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.labelYInput{
    display: flex;
    flex-direction: column;
}

#botonBuscarMain {
    border: none;
    background-color: white;
}

.opcionesMenu {
    font-family: "Public Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 34px;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

.evento {
    padding: 11px;
    border-radius: 23.889px;
    border: 2px solid #000;
    background: #F0F0F0;
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    justify-content: space-around;
}

.evento img {
    object-fit: cover;
}

#tiposDeEventosDropDown {
    display: flex;
    flex-direction: column;
}

.botonBlanco:hover, .botonBlancoIcono:hover, .botonBlancoTiny:hover{
    background-color: #fff2c7;
}

.imagenEventoMain {
    height: 200px;
    border-radius: 24px;
    border: 2px solid #000;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.ubicacionEvento{
    display: flex;
}

.ubicacionEvento p{
    font-size: 16px;
        color: #000;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
}

.tagsEvento{
    display: flex;
    gap: 0.5em;
        font-size: 14px;
    color: #000;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
}

h4 {
    color: #000;

    /* Sretch/p */
    font-family: "Extend";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
}

h5 {
    color: #464646;
    font-family: "Extend";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}


#eventosYBoton {
    justify-content: space-between;
    display: flex;
    color: #000;
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
}

#eventosYBoton p {
    font-size: 18px;
    font-weight: 600;
}

#contenedorFiltroBtn{
    position: relative;
}

#listaExplorarMain {
    display: flex;
    width: 300px;
    height: fit-content;
    flex-direction: column;
    align-items: flex-end;
    gap: 7px;
    flex-shrink: 0;
    border-radius: var(--Border-radius, 5px);
    border: 2px solid var(--Border, #000);
    background: #FFF;
    display: none;
    position: absolute;
    right: 0;
    top: 63px;
    /* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
}

#listaExplorarMain div {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

#contenedorEventosMain {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}

footer {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 40px 49px;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    flex-shrink: 0;
    background: #BFCEFF;
    margin-top: 2em;
}

#logoFooter {
    height: 50px;
}

#linksFooter {
    display: flex;
    flex-direction: column;
}

#redesFooter {
    display: flex;
    flex-direction: column;
}

footer a {
    display: flex;
    align-items: center;
    font-weight: 400;
    text-align: left;
    margin-top: 0.5em;
    gap: 6px;
    font-family: "Public Sans";
    font-size: 16px;
    color: black;
}

footer a:hover {
    text-decoration: underline;
}


@media (max-width: 1188px){
    #filtrosMain {
        flex-direction: column;
        gap: 1em;
    }

    #listaExplorarMain {
    left: 0;
    top: 63px;
}

    #filtrosMain > * {
        width: fit-content;   
    }
}

@media (max-width: 1046px){
 header .contenedor{
    flex-wrap: wrap;
    justify-content: center;
}    header .botonBlanco{
        font-size: 16px;
    }
}

@media (max-width: 768px){



    h1{
        font-size: 32px;
    }

    header nav button {
        flex: 0 1 auto; 
    }

    #PrecioYFechas{
        flex-direction: column;
        gap: 1em;
}

.botonBlanco{
    width: fit-content;
}

    footer{
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        text-align: center;
    }

    #logoFooter{
        margin: auto;
    }

    #linksFooter{
        align-items: center;
    }
    #redesFooter{
        align-items: center;
    }
}

@media (max-width: 620px){

    nav{
        flex-direction: column;
    }

}

@media (max-width: 425px){

    header .botonBlanco{
        font-size: 14px;
    }

    #filtrosMain .botonBlanco{
        font-size: 14px;
    }

    h2{
        font-size: 32px;
    }

    #eventosYCrearEvento{
        display: block;
    }

}