h1{
    text-align: center;
    margin-bottom: 0.5em;
}

header{
    margin-bottom: 2em;
}

#contenedorPerfil {
    margin: auto;
    padding: 26px 34px;
    width: 60vw;
    justify-content: space-between;
    border-radius: 35px;
    border: 3px solid #000;
    background: #FFF;
    box-shadow: 5px 4px 0 0 #000;
    gap: 20px;
}

#imagenPerfil{
    width: 15em;
    height: 15em;
    background-image: url(img/fotoperfil.jpg);
    background-size: cover;
    border-radius: 23px;
    border: 3px solid #000;
    box-shadow: 5px 4px 0 0 #000;
    gap: 20px;
}

#imagenYNombrePerfil{
    display: flex;
    gap: 3em;
}

#nombreYDatosPerfil{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#h3YCrearEvento{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contenedorEventosPerfil{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

footer{
    margin-top: 4em;
}


