h1{
    text-align: center;
    margin-bottom: 0.5em;
}

header{
    margin-bottom: 2em;
}

#contenedorPerfil, #seccionEventosPerfil {
    margin: auto;
    padding: 26px 34px;
    width: 51%;
    justify-content: space-between;
    border-radius: 35px;
    border: 3px solid #000;
    background: #FFF;
    box-shadow: 5px 4px 0 0 #000;
    gap: 20px;
}

#seccionEventosPerfil{
    margin-top: 3em;
}

.imagenPortada{
       height: 9em;
    margin-bottom: 1em;}

#imagenPerfil{
    width: 15em;
    height: 15em;
    background-size: cover;
    border-radius: 23px;
    border: 3px solid #000;
    box-shadow: 5px 4px 0 0 #000;
    gap: 20px;
}

#imagenYDatosPerfil{
    display: flex;
    gap: 3em;
}

#nombreYDatosPerfil{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#imagenDatosYBoton{
    display: flex;
    justify-content: space-between;
}

.inputPerfil, #inpImagenPerfil{
    padding: 8px 15px;
    gap: 6px;
    border-radius: 25px;
    border: 2px solid  #000;
    background: #FFF;
    /* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
}

#botonesPerfil{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

#h3YCrearEvento{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#contenedorEventosPerfil{
    display: grid;
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
    margin-top: 1em;
}

.botonBlancoIcono{
    height: max-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    gap: 6px;
    border-radius: 57px;
    border: 2px solid #000;
    /* Sombra boton */
    box-shadow: 2px 2px 0 0 #000;
    color: #000;
    /* Public/p Semibold */
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.3s;
}

footer{
    margin-top: 4em;
}

@media (max-width: 1943px){
    #imagenDatosYBoton{
        flex-direction: column;
        gap: 1em;
    }
    
}

@media (max-width: 1285px) {
    #contenedorPerfil, #seccionEventosPerfil {
        width: 80%;
    }
    #imagenYDatosPerfil{
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    #botonesPerfil{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    }

   }  
