@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Jacquard+24&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Extend'; /*a name to be used later*/
    src: url('stretch_pro (1)\\StretchPro.otf'); /*URL to font*/
}

a {
color: #000;
text-align: center;
/* Public/p Semibold */
font-family: "Public Sans";
font-size: 16px;
text-decoration: none;
font-weight: 600;
line-height: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 90vw;
    display: flex;
    flex-direction: column;
}

header {
display: flex;
height: 20vh;
padding: 0 41px;
align-items: center;
justify-content: space-between;
flex-shrink: 0;
}

nav {
display: flex;
justify-content: flex-end;
align-items: center;
gap: 2vw;
flex-shrink: 0;
}

nav a {
padding: 10px;
border-radius: 67.568px;
border: 2.333px solid #000;
background: #FFF;
box-shadow: 2.333px 2.333px 0 0 #000;
}

#contenedorImagenPortada {
    height: 60vh;
    width: 100%;
    background-color: blanchedalmond;
}

#imagenPortada {
    height: 100%;
    position: absolute;
}

#tituloPortada {
    position: relative;
    font-family: "Extend";
}