main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedorCrearEvento {
display: flex;
padding: 26px 34px;
width: 90vw;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
border-radius: 35px;
border: 3px solid #000;
background: #FFF;
/* Sombra */
box-shadow: 5px 4px 0 0 #000;
}

h3 {
    color: #000;
font-family: "Public Sans";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 58px; /* 290% */
}

.contenedorInputCE {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.inputCE {
    border-radius: 4px;
border: 2px solid #000;
background: #FFF;
height: 35px;
width: 100%;
padding: 10px;

/* Sombra */
box-shadow: 5px 4px 0 0 #000;
}

#descriptorEventoCE {
    height: 80px;
}

#imagenesInputCE {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
}

.contenedorDeImagenesCE {
display: flex;
align-items: flex-start;
gap: 20px;
}

.contenedorImagenCE {
height: 235px;
flex: 1 0 0;
border-radius: 4px;
border: 2px solid #000;
background: #FFF;

/* Sombra */
box-shadow: 5px 4px 0 0 #000;
}